<html>

<head>
    <style>
        h1 {
            text-align: center;
            font-family: Orbitron;
            font-size: 300%;
        }
    </style>
</head>

<body>
    <h1>QUIZ</h1>
    <form method="post">
        <h4 style="color:red" ;><b>what is the book written by Mike</b></h4>
        <br>
        <input type="text" name="1_1">
        <h4 style="color:red" ;><b>what is the book written by Ashika</b></h4>
        <br>
        <input type="text" name="1_2">
        <button type="submit" value=Submit>Submit</button>
    </form>
</body>

</html>
